*.pyc
*.pyo
__pycache__
*.so
*.o

*.egg
*.egg-info

Cython/Compiler/*.c
Cython/Plex/*.c
Cython/Runtime/refnanny.c
Cython/Tempita/*.c
Cython/*.c

Tools/*.elc

/TEST_TMP/
/build/
/wheelhouse*/
!tests/build/
/dist/
.gitrev
.coverage
*.orig
*.rej
*.dep
*.swp
*~

.ipynb_checkpoints
docs/build

tags
TAGS
MANIFEST

.tox

# Jetbrains IDE project files
/.idea
/*.iml

