*.pyc
*.pyd
*.pyo
__pycache__
*.so
*.o

*.egg
*.egg-info
.*cache*/
*venv*/

/Cython/Build/*.c
/Cython/Compiler/*.c
/Cython/Debugger/*.c
/Cython/Distutils/*.c
/Cython/Parser/*.c
/Cython/Plex/*.c
/Cython/Runtime/refnanny.c
/Cython/Tempita/*.c
/Cython/*.c
/Cython/*.html
/Cython/*/*.html

/Tools/*.elc
/Demos/*.html
/Demos/*/*.html

/TEST_TMP/
/build/
/cython_build/
cython_debug/
/wheelhouse*/
!tests/build/
/dist/
.gitrev
.coverage
*.patch
*.diff
*.orig
*.prof
*.rej
*.log
*.dep
*.swp
*~
callgrind.out.*

.ipynb_checkpoints
docs/build
docs/_build

tags
TAGS
MANIFEST

.tox

# Jetbrains IDE project files
/.idea
/*.iml

# Komodo EDIT/IDE project files
/*.komodoproject

# Visual Studio Code files
.vscode
