sphinx==9.1.0
sphinx-issues==5.0.1
sphinx-tabs==3.5.0
sphinx-clarity-theme==2.1.0
ipython_pygments_lexers==1.1.1
# Dependencies for `runtests.py` not needed for building the documentation, but required for running the codestyle job in .github/workflows/ci.yml
setuptools==82.0.1
