include MANIFEST.in README.txt INSTALL.txt ToDo.txt USAGE.txt
include COPYING.txt LICENSE.txt Makefile
recursive-include .hg *
include .hgignore .hgtags
include setup.py
include bin/*
include cython.py
include Cython/Compiler/Lexicon.pickle
recursive-include Cython *.pyx *.pxd
include Doc/*

include Demos/*.pyx
include Demos/*.py
include Demos/callback/*
include Demos/embed/*
include Demos/freeze/*
include Demos/Setup.py
include Demos/Makefile*
recursive-include Tools *
recursive-include tests *.pyx *.pxd *.pxi *.py *.h *.BROKEN bugs.txt
include runtests.py

include Cython/Mac/Makefile
include Cython/Mac/_Filemodule_patched.c

recursive-include pyximport *.py
include pyximport/PKG-INFO pyximport/README
