include MANIFEST.in README.txt INSTALL.txt CHANGES.txt ToDo.txt USAGE.txt
include CHANGES_pyrex.txt COPYING.txt LICENSE.txt Makefile
recursive-include .hg *
include .hgignore .hgtags
include setup.py
include bin/cython bin/update_references
include cython.py
include Cython/Compiler/Lexicon.pickle
include Doc/*

include Demos/*.pyx
include Demos/*.pxd
include Demos/*.py
include Demos/callback/*
include Demos/embed/*
include Demos/Setup.py
include Demos/Makefile*
include Tools/*
recursive-include Includes *
recursive-include tests *.pyx *.pxd *.pxi *.h *.BROKEN
include runtests.py

include Cython/Mac/Makefile
include Cython/Mac/_Filemodule_patched.c
