name: Benchmarks (weekly)

on:
  schedule:
  #        ┌───────────── minute (0 - 59)
  #        │  ┌───────────── hour (0 - 23)
  #        │  │ ┌───────────── day of the month (1 - 31)
  #        │  │ │ ┌───────────── month (1 - 12 or JAN-DEC)
  #        │  │ │ │ ┌───────────── day of the week (0 - 6 or SUN-SAT)
  #        │  │ │ │ │
  - cron: "22 3 * * SUN"
  push:
    paths:
      - ".github/workflows/benchmarks-weekly.yml"
  workflow_dispatch:


permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  benchmarks:
    strategy:
      # Allows for matrix sub-jobs to fail without canceling the rest
      fail-fast: false

      matrix:
        os:
          - "ubuntu-latest"
          - "ubuntu-24.04-arm"
          #- "macos-latest"    # currently crashes
          #- "windows-latest"  # needs more setup work

    runs-on: ${{ matrix.os }}
    if: ${{ github.repository == 'cython/cython' }}

    env:
      CCACHE_SLOPPINESS: "pch_defines,time_macros"
      CCACHE_COMPRESS: 1
      CCACHE_COMPRESSLEVEL: 5
      CCACHE_NOHASHDIR: 1
      CFLAGS: -O3 -g1 -fPIC -mtune=generic
      BENCHMARK_CYTHONIZE_ARGS: -Xauto_pickle=False

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Compilation Cache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          create-symlink: true
          variant: ${{ startsWith(runner.os, 'Windows') && 'sccache' || 'ccache' }}  # fake ternary
          key: ${{ runner.os }}-${{ runner.arch }}-hendrikmuhs-ccache-benchmarks
          max-size: 250M

      - name: Setup python
        uses: actions/setup-python@v6.1.0
        with:
          # List special Pythons first to keep the 'normal' one as (last) "python3.xy".
          python-version: |
            3.14t
            3.15-dev
            3.10
            3.12
            3.13
            3.14

      - name: Run Benchmarks
        run: |
          # Run benchmarks in all Python versions, Limited C-API only in latest (listed first below).
          LIMITED_API=--with-limited
          for PYTHON in  python3.14  python3.13  python3.14t  python3.15  python3.12  python3.10  ; do
              ${PYTHON} -m pip install setuptools numpy
              if [[ ${PYTHON} == *t || ${PYTHON} == *"t-dev" ]]; then
                COMMITS=("origin/3.1.x" "origin/3.2.x" "origin/master")
                CYTHONIZE_ARGS="${BENCHMARK_CYTHONIZE_ARGS} -Xfreethreading_compatible=True"
              else
                COMMITS=("origin/3.0.x"  "origin/3.1.x"  "origin/3.2.x"  "${LIMITED_API}" "origin/master")
                CYTHONIZE_ARGS="${BENCHMARK_CYTHONIZE_ARGS}"
              fi
              ${PYTHON} Demos/benchmarks/run_benchmarks.py \
                  ${{ startsWith(runner.os, 'Windows') && ' ' || '--report-size benchmark_sizes_${PYTHON}.csv' }} \
                  --report benchmark_results_${PYTHON}.csv \
                  --with-python  ${CYTHONIZE_ARGS}  ${COMMITS[*]}
              LIMITED_API=
          done | tee benchmarks.log
          # Add empty size result file to keep the size report on Windows from failing.
          touch benchmark_sizes_empty.csv

      - name: Create summary
        run: |
          { echo "## Benchmark results on ${{ runner.os }}-${{ runner.arch }}:";
            echo; python Demos/benchmarks/report.py -t timings benchmark_results_*.csv;
            echo; echo "## Benchmark module sizes on ${{ runner.os }}-${{ runner.arch }}:";
            echo; python Demos/benchmarks/report.py -t sizes benchmark_sizes_*.csv;
          } >> $GITHUB_STEP_SUMMARY

      - name: Upload results
        uses: actions/upload-artifact@v6.0.0
        with:
          name: benchmark_results_${{ matrix.os }}.txt
          path: benchmarks.log
