name: CI

on:
  push:
    paths:
      - '**'
      - '!Demos/benchmarks/**'
      - '!.github/**'
      - '.github/workflows/ci.yml'
  pull_request:
    paths:
      - '**'
      - '!Demos/benchmarks/**'
      - '!.github/**'
      - '.github/workflows/ci.yml'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  ci:
    strategy:
      # Allows for matrix sub-jobs to fail without canceling the rest
      fail-fast: false

      # MATRIX:
      # =======
      # Required parameters:
      #  os                  the os to run on
      #  python-version      the python version to use
      #  backend             the backend to use
      #  env                 any additional env variables. Set to '{}' for none
      # Optional parameters:
      #  allowed_failure     whether the job is allowed to fail
      #  extra_hash          extra hash str to differentiate from other caches with similar name (must always start with '-')
      matrix:
        # Tests [amd64]
        #
        os: [ubuntu-22.04, windows-2022, macos-latest]
        backend: [c, cpp]
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.13t"
          - "3.14"
          - "3.14t"
          - "3.15-dev"
          - "3.15t-dev"
        env: [{}]

        exclude:
          # Windows and free-threading is difficult to build right now
          - os: windows-2022
            python-version: 3.13t
            backend: "c"
          - os: windows-2022
            python-version: 3.13t
            backend: "cpp"
          - os: windows-2022
            python-version: 3.14t
            backend: "c"
          - os: windows-2022
            python-version: 3.14t
            backend: "cpp"

        include:
          #- python-version: "3.15-dev"
          #  allowed_failure: true
          #- python-version: "3.15t-dev"
          #  allowed_failure: true

          # Ubuntu sub-jobs:
          # ================
          # graalpy is really slow...
          - os: ubuntu-22.04
            python-version: graalpy25
            backend: c
            env: { NO_CYTHON_COMPILE: 1 }
            allowed_failure: false
          # GCC 13 (with broad language standards)
          - os: ubuntu-22.04
            python-version: "3.9"
            backend: c
            env: { GCC_VERSION: 13, EXTRA_CFLAGS: "-std=c99" }
            extra_hash: "-c99"
          - os: ubuntu-22.04
            python-version: "3.10"
            backend: c
            env: { GCC_VERSION: 13, EXTRA_CFLAGS: "-std=c17" }
            extra_hash: "-gcc11"
          - os: ubuntu-22.04
            python-version: "3.12"
            backend: c
            env: { GCC_VERSION: 13, EXTRA_CFLAGS: "-std=c17" }
            extra_hash: "-gcc11"
          - os: ubuntu-22.04
            python-version: "3.13"
            backend: cpp
            env: { GCC_VERSION: 13, EXTRA_CFLAGS: "-std=c++20" }
            extra_hash: "-gcc11"
          # Arm64
          - os: ubuntu-22.04-arm
            python-version: "3.13"
            backend: c
            env: {}
          - os: ubuntu-22.04-arm
            python-version: "3.13"
            backend: cpp
            env: {}
          - os:  windows-11-arm
            python-version: "3.13"
            backend: "c"
            env: {}
          - os:  windows-11-arm
            python-version: "3.13"
            backend: "cpp"
            env: {}
          # compile all modules
          - os: ubuntu-22.04
            python-version: "3.9"
            backend: c
            env: { CYTHON_COMPILE_ALL: 1 }
            extra_hash: "-all"
          - os: ubuntu-22.04
            python-version: "3.9"
            backend: cpp
            env: { CYTHON_COMPILE_ALL: 1 }
            extra_hash: "-all"
          - os: ubuntu-22.04
            python-version: "3.11"
            backend: c
            env: { CYTHON_COMPILE_ALL: 1 }
            extra_hash: "-all"
          - os: ubuntu-22.04
            python-version: "3.11"
            backend: cpp
            env: { CYTHON_COMPILE_ALL: 1 }
            extra_hash: "-all"
          # Linting
          - os: ubuntu-22.04
            python-version: "3.9"
            backend: "c,cpp"
            env: { TEST_CODE_STYLE: 1, NO_CYTHON_COMPILE: 1 }
            extra_hash: "-codestyle"
          # Limited API
          - os: ubuntu-22.04
            python-version: "3.9"
            backend: "c,cpp"
            env: { LIMITED_API: "--limited-api --abi3audit" }
            extra_hash: "-limited_api"
          - os: ubuntu-22.04
            python-version: "3.11"
            backend: "c,cpp"
            env: { LIMITED_API: "--limited-api --abi3audit" }
            extra_hash: "-limited_api"
          - os: ubuntu-22.04
            python-version: "3.12"
            backend: "c,cpp"
            env: { LIMITED_API: "--limited-api --abi3audit" }
            extra_hash: "-limited_api"
          - os: ubuntu-22.04
            python-version: "3.15-dev"
            backend: "c,cpp"
            env: { LIMITED_API: "--limited-api" }
            extra_hash: "-limited_api"
          # Cython Shared Module
          - os: ubuntu-22.04
            python-version: "3.12"
            backend: "c,cpp"
            env: { SHARED_UTILITY: "--shared-utility" }
            extra_hash: "--shared-utility"
          # Type specs
          - os: ubuntu-22.04
            python-version: "3.14"
            backend: c
            env: { EXTRA_CFLAGS: "-DCYTHON_USE_TYPE_SPECS=1" }
            extra_hash: "-typespecs"
          - os: ubuntu-22.04
            python-version: "3.12"
            backend: c
            env: { EXTRA_CFLAGS: "-DCYTHON_USE_TYPE_SPECS=1" }
            extra_hash: "-typespecs"
          - os: ubuntu-22.04
            python-version: "3.9"
            backend: c
            env: { EXTRA_CFLAGS: "-DCYTHON_USE_TYPE_SPECS=1" }
            extra_hash: "-typespecs"
          # Pypy
          - os: ubuntu-22.04
            python-version: pypy-3.9
            backend: c
            env: { NO_CYTHON_COMPILE: 1 }
          - os: ubuntu-22.04
            python-version: pypy-3.10
            backend: c
            env: { NO_CYTHON_COMPILE: 1 }
          - os: ubuntu-22.04
            python-version: pypy-3.11
            backend: c
            env: { NO_CYTHON_COMPILE: 1 }

    # This defaults to 360 minutes (6h) which is way too long and if a test gets stuck, it can block other pipelines.
    # From testing, the runs tend to take ~10-15 minutes for ubuntu / macos and ~25 for windows,
    # so a limit of 80 minutes should be enough. This can always be changed in the future if needed.
    timeout-minutes: 80
    runs-on: ${{ matrix.os }}

    env:
      BACKEND: ${{ matrix.backend }}
      PYTHON_VERSION: ${{ matrix.python-version }}
      MACOSX_DEPLOYMENT_TARGET: "11.0"
      GCC_VERSION: 10
      USE_CCACHE: 1
      CCACHE_SLOPPINESS: "pch_defines,time_macros"
      CCACHE_COMPRESS: 1
      CCACHE_COMPRESSLEVEL: 5
      # Size guide: 10GB maximum cache storage / total number of CI jobs creating a cache.
      # However, a single run currently generates 170-210 MB, so less would use less but be useless.
      CCACHE_MAXSIZE: "220M"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Setup python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Compilation Cache
        uses: hendrikmuhs/ccache-action@v1.2.20
        with:
          variant: ${{ startsWith(runner.os, 'Windows') && 'sccache' || 'ccache' }}  # fake ternary
          create-symlink: ${{ startsWith(runner.os, 'Linux') && 'false' || 'true' }}  # fake ternary
          # Disable ccache saving from pull requests to reserve caching storage for the main branches.
          save: ${{ startsWith(github.ref, '/refs/pull/') && 'false' || 'true' }}  # fake ternary
          key: ${{ runner.os }}-${{ runner.arch }}-hendrikmuhs-ccache${{ matrix.extra_hash }}-${{ matrix.python-version }}-${{ matrix.backend == 'c' || matrix.backend == 'c,cpp' }}-${{ contains(matrix.backend, 'cpp') }}-${{ hashFiles('test-requirements*.txt', '.github/**/ci.yml', 'Tools/**/ci-run.sh') }}
          max-size: ${{ env.CCACHE_MAXSIZE }}

      - name: Run CI
        continue-on-error: ${{ matrix.allowed_failure || false }}
        env: ${{ matrix.env }}
        run: bash -c "bash ./Tools/ci-run.sh 2> >(tee >(tail -20 > ci-summary.txt) >&2)"

      - name: Report results
        run: bash -c "if [ -s ci-summary.txt ]; then grep -A20 'Most expensive pipeline stages' ci-summary.txt | sed -e 's|^|    |'; fi" >> $GITHUB_STEP_SUMMARY

      - name: Upload HTML docs
        uses: actions/upload-artifact@v6.0.0
        with:
          name: htmldocs
          path: docs/build/html
          if-no-files-found: ignore

      - name: Upload wheels
        uses: actions/upload-artifact@v6.0.0
        with:
          name: wheels-${{ runner.os }}-${{ runner.arch }}-${{ matrix.python-version }}${{ matrix.extra_hash }}
          path: dist/*.whl
          if-no-files-found: ignore

  codespell:
    name: Check for spelling errors
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Codespell
        uses: codespell-project/actions-codespell@v2
