name: Run with compiled Python

on:
  workflow_call:
    inputs:
      sanitize:
        required: false
        default:
        type: string
      compiler:
        required: false
        default:
        type: string
      cpp_compiler:
        required: false
        default:
        type: string
      linker:
        required: false
        default:
        type: string
      name:
        required: true
        type: string

jobs:
  do_run:
    name: ${{inputs.name}}
    runs-on: ubuntu-latest

    env:
      BACKEND: c,cpp
      PYTHON_VERSION: 3.x-dev
      CONFIGURE_ARG: --with-pydebug
      SANITIZER_CFLAGS:

    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Set compiler
        if: ${{inputs.compiler}}
        run: |
          echo CC=${{inputs.compiler}} >> $GITHUB_ENV
          echo CXX=${{inputs.cpp_compiler}} >> $GITHUB_ENV
          echo LDSHARED=${{inputs.linker}} >> $GITHUB_ENV
          echo EXTERNAL_OVERRIDE_CC=1 >> $GITHUB_ENV

      - name: Set up sanitizer args
        if: ${{inputs.sanitize}}
        run: |
          if [[ ${{inputs.sanitize}} == "address" ]]; then
            echo "CONFIGURE_ARG=--with-address-sanitizer --without-pymalloc" >> $GITHUB_ENV
            echo "SANITIZER_CFLAGS=-fsanitize=address" >> $GITHUB_ENV
            echo "ASAN_OPTIONS=detect_leaks=false" >> $GITHUB_ENV
          elif [[ ${{inputs.sanitize}} == "memory" ]]; then
            echo CONFIGURE_ARG=--with-memory-sanitizer >> $GITHUB_ENV
            echo "SANITIZER_CFLAGS=-fsanitize=memory" >> $GITHUB_ENV
          elif [[ ${{inputs.sanitize}} == "undefined" ]]; then
            echo CONFIGURE_ARG=--with-undefined-behavior-sanitizer >> $GITHUB_ENV
            # We call functions through slightly wrong pointer types a lot so disable for now
            echo "SANITIZER_CFLAGS=-fsanitize=undefined -fno-sanitize=function" >> $GITHUB_ENV
            echo "UBSAN_OPTIONS=halt_on_error=1" >> $GITHUB_ENV
          elif [[ ${{inputs.sanitize}} == "thread" ]]; then
            echo CONFIGURE_ARG=--with-thread-sanitizer >> $GITHUB_ENV
            echo "SANITIZER_CFLAGS=-fsanitize=thread" >> $GITHUB_ENV
            echo "TSAN_OPTIONS=halt_on_error=1 suppressions=${GITHUB_WORKSPACE}/cpython_main/Tools/tsan/suppressions.txt"
          fi
          # Even running Python like this is slow, so only run a subset of tests
          # (i.e. compile-only tests tell us nothing)
          echo EXCLUDE="run[.] memoryview[.] --no-examples --no-refnanny" >> $GITHUB_ENV

      - name: Install build dependencies
        run: |
          sudo apt-get update -y -q
          sudo apt-get install -y -q libbz2-dev lzma-dev libreadline-dev libgmp-dev

      - name: Build Python
        run: |
          git clone https://github.com/python/cpython/ cpython_main
          cd cpython_main
          ./configure ${CONFIGURE_ARG} --prefix=${GITHUB_WORKSPACE}/cpython_install CFLAGS="-O2"
          make -j8
          make install
          ${GITHUB_WORKSPACE}/cpython_install/bin/python3 -m venv ${GITHUB_WORKSPACE}/venv_pydebug

      - name: Run CI
        run: |
          cd "${GITHUB_WORKSPACE}/"
          source venv_pydebug/bin/activate
          bash ./Tools/ci-run.sh