name: coverage

on:
  push:
    paths:
      - '.github/workflows/coverage.yml'
      - "Cython/**"
      - "tests/**"
  pull_request:
    paths:
      - '.github/workflows/coverage.yml'
      - "Cython/**"
      - "tests/**"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  pycoverage:
    runs-on: ubuntu-22.04

    permissions:
      # deploy HTML to GitHub pages
      pages: write
      id-token: write

    env:
      BACKEND: c,cpp
      OS_NAME: ubuntu-22.04
      PYTHON_VERSION: "3.12"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Setup python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.12"

      - name: Run Coverage
        env: { COVERAGE: 1, NO_CYTHON_COMPILE: 1 }
        run: bash ./Tools/ci-run.sh

      - name: Copy coverage HTML
        run: |
          if [ -d './coverage-report-html' ]; then
            mkdir -p gh_pages_coverage/coverage/ \
              && cp -r './coverage-report-html' 'gh_pages_coverage/coverage/${{ github.head_ref || github.ref_name }}';
          fi

      - name: Upload Coverage HTML to GH Pages
        if: github.repository == 'cython/cython' && github.event_name != 'pull_request'
        uses: actions/upload-pages-artifact@v4
        with:
          path: './gh_pages_coverage/'

      - name: deploy to Github Pages
        if: github.repository == 'cython/cython' && github.event_name != 'pull_request'
        uses: actions/deploy-pages@v4
        id: htmldeploy

      - name: Upload Coverage HTML Report
        uses: actions/upload-artifact@v5
        with:
          name: pycoverage_html
          path: coverage-report-html

      - name: Write summary
        run: |
          echo "## Python coverage results:" >> $GITHUB_STEP_SUMMARY
          PAGES_URL="${{ steps.htmldeploy.outputs.page_url }}"
          if [ -n "${PAGES_URL}" ]; then echo "[Coverage HTML](${PAGES_URL}/coverage/${{ github.head_ref || github.ref_name }})" >> $GITHUB_STEP_SUMMARY; fi
          if [ -f coverage-report.md ]; then { echo; cat coverage-report.md ; } >> $GITHUB_STEP_SUMMARY; fi

  cycoverage:
    runs-on: ubuntu-22.04
    needs: [ pycoverage ]  # order summary report output

    env:
      BACKEND: c,cpp
      OS_NAME: ubuntu-22.04
      PYTHON_VERSION: "3.12"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

      - name: Setup python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.12"

      - name: Run Coverage
        env: { COVERAGE: 1 }
        run: bash ./Tools/ci-run.sh

      - name: Write summary
        run: |
          if [ -f coverage-report.md ]; then { echo "## Compiled coverage results:"; cat coverage-report.md ; } >> $GITHUB_STEP_SUMMARY; fi

      - name: Upload Coverage HTML Report
        uses: actions/upload-artifact@v5
        with:
          name: cycoverage_html
          path: coverage-report-html
